In [12]:
import pandas as pd
import os

In [13]:
geodb=pd.read_csv("geodb.csv")
geodb.columns=[x.strip() for x in list(geodb.columns)] # some fields have trailing blanks
geodb=geodb.drop(["GlobalID","CreationDate",'EditDate', 'Editor','Contact Information','Please describe the weather conditions during the flooding event.',
       'Other - Please describe the weather conditions during the flooding event.','Is the location flooded at the time of the report?',
       'May we contact you?',],axis=1)

geodb

,ObjectID,Creator,Which of the following were flooded?,Other - Which of the following were flooded?,Additional Comments,How deep is the flood water (in inches)?,Time of Observation,Date of Observation,What caused the flooding?,Other - What caused the flooding?,Neighborhood and/or Borough,x,y
0,20,NaN,property,NaN,NaN,NaN,12:00,5/7/2020 12:00:00 AM,NaN,NaN,NaN,-73.837982,40.657893
1,21,NaN,roads_streets,NaN,tide water coming to the street from storm dra...,NaN,12:00,5/7/2020 12:00:00 AM,NaN,NaN,NaN,-73.837842,40.657755
2,22,NaN,"roads_streets,sidewalks",NaN,NaN,NaN,00:30,5/7/2020 12:00:00 AM,Storm_drain_Water_bubbling_up_f,NaN,Hamilton Beach,-73.829444,40.653456
3,23,NaN,"roads_streets,sidewalks,property",NaN,6th road facing crossbay blvd,NaN,00:39,5/7/2020 12:00:00 AM,NaN,NaN,NaN,-73.817104,40.609023
4,24,NaN,"roads_streets,sidewalks,property",NaN,NaN,NaN,00:30,5/7/2020 12:00:00 AM,NaN,NaN,NaN,-73.829534,40.653500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,775,NaN,"roads_streets,sidewalks,property",NaN,Picture taken fro 102nd Street looking down 16...,5.0,09:31,2/21/2023 5:00:00 PM,"Overland_flooding_Water_coming_,Rainfall_Water...",NaN,"Howard Beach, Queens NY",-73.831090,40.658700
720,776,NaN,property,NaN,NaN,24.0,21:57,4/30/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,East Elmhurst,-73.886160,40.765840
721,777,NaN,"roads_streets,sidewalks,property,other",Homes,This is located on rutland and Kingston Brookl...,12.0,18:30,6/2/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",Every time it rain this place over flows and a...,Brooklyn,-73.942715,40.659874
722,778,NaN,"roads_streets,property",NaN,NaN,4.0,21:49,6/12/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,NaN,-73.942680,40.659922
723,779,NaN,"roads_streets,sidewalks,property",NaN,This is not stop \nThis location all way over ...,4.0,15:01,6/16/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,NaN,-73.943031,40.659775

In [14]:
geodb["photo_Date"]=geodb["Date of Observation"].str.split(" ").str[0]
geodb["guessSource"]=geodb["Which of the following were flooded?"]+". "+geodb["Other - Which of the following were flooded?"]
geodb["guessCause"]=geodb["What caused the flooding?"]+". "+geodb["Other - What caused the flooding?"]

In [15]:
geodb_mc=geodb.drop(["Date of Observation","Which of the following were flooded?","Other - Which of the following were flooded?",\
                     "What caused the flooding?","Other - What caused the flooding?"],axis=1)

geodb_mc.columns=["objectID","creator","post_comment","est_depth","photo_time","alternative_loc","location_longitude","location_latitude",\
                  "photo_date","guessSource","guessCause" ]

geodb_mc["image1"]=""

In [16]:
geodb_mc

,objectID,creator,post_comment,est_depth,photo_time,alternative_loc,location_longitude,location_latitude,photo_date,guessSource,guessCause,image1
0,20,NaN,NaN,NaN,12:00,NaN,-73.837982,40.657893,5/7/2020,NaN,NaN,
1,21,NaN,tide water coming to the street from storm dra...,NaN,12:00,NaN,-73.837842,40.657755,5/7/2020,NaN,NaN,
2,22,NaN,NaN,NaN,00:30,Hamilton Beach,-73.829444,40.653456,5/7/2020,NaN,NaN,
3,23,NaN,6th road facing crossbay blvd,NaN,00:39,NaN,-73.817104,40.609023,5/7/2020,NaN,NaN,
4,24,NaN,NaN,NaN,00:30,NaN,-73.829534,40.653500,5/7/2020,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...
719,775,NaN,Picture taken fro 102nd Street looking down 16...,5.0,09:31,"Howard Beach, Queens NY",-73.831090,40.658700,2/21/2023,NaN,NaN,
720,776,NaN,NaN,24.0,21:57,East Elmhurst,-73.886160,40.765840,4/30/2023,NaN,NaN,
721,777,NaN,This is located on rutland and Kingston Brookl...,12.0,18:30,Brooklyn,-73.942715,40.659874,6/2/2023,"roads_streets,sidewalks,property,other. Homes","Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",
722,778,NaN,NaN,4.0,21:49,NaN,-73.942680,40.659922,6/12/2023,NaN,NaN,
723,779,NaN,This is not stop \nThis location all way over ...,4.0,15:01,NaN,-73.943031,40.659775,6/16/2023,NaN,NaN,

In [17]:
geodb_mc.to_csv("dfupload.csv",index=False)

In [7]:
imgpath=r"D:\OneDrive - Cornell University\JselZJOB\nysg\w3\img"
imglist=sorted(os.listdir(imgpath), key=lambda x: int(x.split("-")[0]))

def getimgstr(id,prefix="",glue="|"):
    assert glue in ['<','>','|',':','?','\\','/','"','*'], "invalid, might cause ambiguity"
    return glue.join([prefix+x for x in imglist if x.split("-")[0]==str(id)])

# geodb_mc["image1"] = geodb_mc["objectId"].apply(getimgstr)

In [9]:
getimgstr(345)

'345-460.jpg|345-461.jpg'